
@import './variables';
@import './mixins';

.add-button {
  @include action-button(65px, white, $green);

  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;

  &[disabled] {
    color: $gray-light;
    background-color: $gray-lighter;
  }
}

.remove-button {
  @include action-button(30px, white, $red);

  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.2);
  padding: 0.3rem;
}

.quantity-controls {
  display: inline-flex;
  vertical-align: middle;
  cursor: pointer;
  flex-direction: column;
  transition: all 0.4s ease;

  i {
    color: #bbb;

    &:hover {
      color: #999;
    }
  }
}
