
.page-transition-enter {
  opacity: 0.01;
  position: absolute;
  top: 0;
  left: -40px;  right: 0;
}

.page-transition-enter.page-transition-enter-active {
  opacity: 1;
  left: 0;
  transition: all 200ms ease-in-out;
}

.page-transition-leave {
  opacity: 1;
}

.page-transition-leave.page-transition-leave-active {
  opacity: 0.01;
  z-index: -1;
  transition: all 200ms ease-in-out;
}
