
// NEW PRODUCT ENTER transition

.new-product-enter {
  bottom: 50px;
  opacity: 0;
}

.new-product-enter.new-product-enter-active {
  position: relative;
  bottom: 0;
  opacity: 1;
  transition: bottom 0.5s ease, opacity 0.7s ease;
}

// .new-product-leave {
//   opacity: 1;
// }
//
// .new-product-leave.new-product-leave-active {
//   opacity: 0.01;
//   z-index: -1;
//   transition: all 200ms ease-in-out;
// }
