@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body, html {
  font-family: 'Open sans';
}

.small-caps {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.strong {
  font-weight: bold;
}
