@import './bootstrap';
@import './variables';
@import './flex-utilities';
@import './standardise';
@import './material-icons';
@import './navbar';
@import './frame';
@import './type';
@import './alerts';
@import './helpers';
@import './spinners';
@import './transitions';

.main-container {
  position: relative;
  overflow-y: auto;
}

#page-loader {
  justify-content: center;
  padding-top: 300px;
  pointer-events: none;
}
